# Node library
node_modules

# Node build
dist
out
build

# Backend build
src/backend/build

# Protobuf gen
src/proto_gen/cpp/*
src/proto_gen/ts/*
src/backend/src/proto_gen/src/*

# Cache & log
.eslintcache
*.log*

# Filesystem
.DS_Store
