# Node library
node_modules

# Node build
dist
out
build

# Backend build
src/backend/build
bin/*

# Protobuf gen
src/backend/src/proto_gen/src/*
src/shared/proto_gen/src/*

# Cache & log
.eslintcache
*.log*

# Filesystem
.DS_Store
