:root {
  --background: #eceff4;
  --on-background: #4c566a;
  --subtitle: #999999;
  --content-panel-background: #ffffff;
  --on-content-panel-background: #212121;
  --toolbar-border: #dddddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2e3440;
    --on-background: #d8dee9;
    --subtitle: #dddddd;
    --content-panel-background: #282828;
    --on-content-panel-background: #ffffff;
    --toolbar-border: #a0a0a0;
  }
}
